body {
    background-image: url("../images/background-image.jpeg");
    width: 50%; 
    margin: 10px; 
  }

div {
    padding: 10px; 
}

header {
    background-color: orange; 
    text-align: center;
    width: 50%;
    margin: 10px; 
}
.container {
    background-color: tan; 
    color: green; 
    margin: 10px; 
}
#numberNeeded{
    background-color: lightgreen; 
    float: left; 
    width: 70%; 

}
.sidebar {
    background-color: aqua; 
    float: right; 
    width: 30%; 

}
#numberNeeded, .sidebar {
    height: 100px; 
    float: left;
}

.row {
    background-color: white;
    float: right; 
}

#scoreboard {
    background-color: teal; 

}
